* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2B2F38;
    height: 100dvh;
}


img {
    width: 100%;
    height: 100%;
}

.mobile {
    display: none;
}

.box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.169);
    animation-name: blink;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    z-index: 10;
    opacity: .7;
    border-radius: 10px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16181bcf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay button {
    padding: 1em 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    background-color: rgb(7, 169, 232);
    color: #fff;
    outline: none;
    border-radius: 10px;
    border-radius: none;
    text-transform: uppercase;
    cursor: pointer;
}

@keyframes blink {
    from {
        opacity: .7;
        transform: scale(1);
    }

    to {
        opacity: 0.4;
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1024px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .overlay button {
        padding: 1em 2em;
        font-size: 1.2em;
    }
}